.container-contatos {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 60px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: left;

  animation-name: sobre-curriculo-anima;
  animation-duration: 2s;
}

.container-contatos h1 {
  color: var(--primary-color);
  grid-column: 1 / -1;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.container-contatos .img-contato {
  border-radius: 4px;
  justify-self: center;
}

.lista-contatos a {
  margin-bottom: 40px;
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
}

.lista-contatos a p {
  color: var(--secundary-color);
  font-size: 1.5rem;
}

@media (hover: hover) {
  .lista-contatos a p:hover {
    color: var(--primary-color);
    transition: 0.4s;
  }
}

@media (max-width: 800px) {
  .container-contatos .img-contato {
    display: none;
  }

  .container-contatos h1 {
    white-space: nowrap;
  }
}

@media (max-width: 400px) {
  .container-contatos h1 {
    margin-left: -40px;
    white-space: nowrap;
    margin-bottom: 40px;
    font-size: 2rem;
  }

  .lista-contatos a p {
    font-size: 1.285rem;
  }

  .lista-contatos {
    margin-left: -40px;
  }
}
