.container-projetos {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 60px 20px;
  place-items: center;
  padding: 60px;
  position: relative;

  animation-name: sobre-curriculo-anima;
  animation-duration: 2s;
}

.projeto {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projetos-caixa {
  max-width: 280px;
  height: 280px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}

hr {
  position: absolute;
  width: 95%;
  height: 3px;
  background-color: white;
}

.black-box {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  opacity: 0;
  transition: 0.7s;
}

.black-box:hover {
  opacity: 0.8;
  cursor: pointer;
}
.black-box-text {
  font-size: 0.7rem;
  text-align: center;
}

.black-box-text h1 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--secundary-color);
  font-weight: bold;
}

.link-projeto::after {
  content: "";
  display: block;
  width: 0px;
  margin-top: 5px;
  height: 3px;
  background-color: var(--primary-color);
  transition: 0.7s;
}

.link-projeto:hover::after {
  width: 100%;
}

.text-mobile {
  display: none;
}

.text-mobile {
  text-align: center;
}

.text-mobile h1 {
  font-size: 1.5rem;
  color: var(--secundary-color);
  margin-bottom: 10px;
}

.text-mobile .btn {
  font-size: 1.2rem;
  color: #2d2d2d;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 10px 40px;
  width: 100%;
  background-color: var(--primary-color);
  margin-bottom: 30px;
}

@media (max-width: 950px) {
  .container-projetos {
    grid-template-columns: 1fr 1fr;
    gap: 25px 0px;
    place-items: center;
  }

  hr {
    display: none;
  }

  .projetos-caixa {
    max-width: 300px;
    height: 300px;
  }

  .projeto {
    max-width: 300px;
  }
}

@media (max-width: 780px) {
  .container-projetos {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .projetos-caixa {
    max-width: 280px;
    height: 280px;
  }

  .projeto {
    max-width: 280px;
  }

  .link-projeto {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 20px;
  }

  .link-projeto::after {
    display: none;
  }

  .black-box:hover {
    opacity: 0;
  }

  .text-mobile {
    display: block;
  }

  .text-mobile h2 {
    margin-top: 10px;
    color: white;
  }
}

@media (max-width: 620px) {
  .container-projetos {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 450px) {
  .container-projetos {
    max-width: 100%;
  }

  .text-mobile h1 {
    font-size: 1.5rem;
  }

  .projetos-caixa {
    max-width: 280px;
    height: 280px;
  }

  .projeto {
    max-width: 280px;
  }
}

@media (max-width: 380px) {
  .projetos-caixa {
    width: 225px;
    height: 225px;
  }

  .projeto {
    width: 225px;
  }
}
